<!-- <div class="show-style">
    <img class="edu-style" alt="Angular Logo" src="assets/college.jpg">
    <div class="border-skill">
        <p class="font-heavy">教育经历</p>
        <div>学校名称：西南科技大学</div>
        <div>就读时间：2011.09-2015.07</div>
        <div>学历学位：本科</div>
        <div>专业：制造科学及其自动化</div>
    </div>
</div> -->


<mat-list>
        <mat-list-item class="home-item">
            <mat-card class="home-card">
                <mat-card-header>
                    <div mat-card-avatar class="xnkd-header-avatar"></div>
                    <mat-card-title>学校</mat-card-title>
                    <mat-card-subtitle>西南科技大学</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="edu-image" src="assets/school.png" alt="Photo of school">
                <mat-card-content>
                    <p>
                        西南科技大学坐落于中国科技城-四川省绵阳市。
                        学校由四川省人民政府与教育部、国家国防科技工业局共建，被教育部确定为国家西部重点建设十四所高校之一；
                        <br>
                        入选“四川省“双一流”建设计划、中西部高校基础能力建设工程、卓越工程师教育培养计划、
                        四川省卓越法律人才教育培养计划、四川省卓越农林人才教育培养计划、四川2011计划”。
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>展开</button>
                </mat-card-actions>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="home-item">
            <mat-card class="home-card">
                    <mat-card-header>
                        <mat-card-title>教育背景</mat-card-title>
                        <mat-card-subtitle>本科</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            大学本科<br/>
                            学士学位<br/>
                        </p>
                    </mat-card-content>
                </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="home-item">
            <mat-card class="home-card">
                    <mat-card-header>
                        <mat-card-title>在校荣誉</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            2012~2013学年国家二等奖学金
                        </p>
                    </mat-card-content>
                </mat-card>
        </mat-list-item>
    </mat-list>