<div class="basic-row">
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>求职职位:</span>
    </div>
    <div class="basic-content">
        <div>QT工程师</div>
        <div>Angular前端开发工程</div>
        <div>C++开发工程师</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>求职地点:</span>
    </div>
    <div class="basic-content">
        <div>浦东新区: 张江, 金桥, 川沙, 外高桥</div>
        <div>闵行区: 浦江</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>薪资期望:</span>
    </div>
    <div class="basic-content">
        <div>10%到30%增幅</div>
    </div>
</div>

<mat-divider></mat-divider>