<div class="basic-row">
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>工作经历1:</span>
    </div>
    <div class="basic-content">
        <div>公司：上海鲍麦克斯电子科技有限公司</div>
        <div>主营业务: 工业缝纫机，工业绣花机，通用伺服控制系统研发制造</div>
        <div>职位：HMI软件工程师</div>
        <div>入职时间：2015.07 ~ 2019.9</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>工作经历2:</span>
    </div>
    <div class="basic-content">
        <div>公司：待定（期待成为您的同事）</div>
        <div>主营业务: 待定</div>
        <div>职位：HMI软件工程师</div>
        <div>入职时间：一个月内 ~ </div>
    </div>
</div>