<div class="basic-row">
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>{{"p_personal" | langPipe}}:</span>
    </div>
    <div class="basic-content">
        <div>{{"p_name" | langPipe}}: {{"h_name" | langPipe}}</div>
        <div>{{"p_gender" | langPipe}}: {{"p_gender_f" | langPipe}}</div>
        <div>{{"p_age" | langPipe}}: 26</div>
        <div>{{"p_address" | langPipe}}</div>
        <div>{{"p_wexperience" | langPipe}}</div>
        <div>{{"p_Tel" | langPipe}}: 13681821946</div>
        <div>{{"p_mail" | langPipe}}: 623153814@qq.com</div>
    </div>

</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>{{"p_skill" | langPipe}}:</span>
    </div>

    <div class="skill-div">
        <div class="basic-content">
            <div>{{"p_lang" | langPipe}}: C, C++, Javascript, HTML5, CSS3</div>
            <div>{{"p_plat" | langPipe}}: Windows, WinCE, Linux, QT, IAR </div>
            <div>{{"p_communication" | langPipe}}: UART, CAN, HTTP</div>
            <div>{{"p_english" | langPipe}}</div>
        </div>

        <div class="skill-picture-div">
            <img class="skill-picture" src="assets/skills/c.png">
            <img class="skill-picture" src="assets/skills/c++.png">
            <img class="skill-picture" src="assets/skills/css3.png">
            <img class="skill-picture" src="assets/skills/html5.png">
            <img class="skill-picture" src="assets/skills/js.png">
            <img class="skill-picture" src="assets/skills/qt.png">
            <img class="skill-picture" src="assets/skills/linux.png">
            <img class="skill-picture" src="assets/skills/wince.png">
            <img class="skill-picture" src="assets/skills/iar.png">
        </div>
    </div>
</div>

<mat-divider></mat-divider>