<div class="basic-row">
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>鲍麦克斯MH20面板软件:</span>
    </div>
    <img mat-card-image class="edu-image" src="assets/pmx/4.png" alt="Photo of a machine">
    <div class="basic-content">
        <div>项目描述: MH20面板软件相关维护，在WinCE系统下开发应用，根据客户需求对原有面板的功能、BUG进行修正和增加</div>
        <div>主要负责: 软件编写，软件测试</div>
        <div><button mat-flat-button class="knowmore-btn" >了解更多</button></div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>鲍麦克斯MH31面板软件:</span>
    </div>
    <img mat-card-image class="edu-image" src="assets/pmx/2.png" alt="Photo of a machine">
    <div class="basic-content">
        <div>项目描述: 鲍麦克斯新产品MH31套结机开发基于Linux平台的电容屏面板，改进原有数码管式面板操作，增加CAN总线实现套结机与面板的高速通信</div>
        <div>主要负责: 软件编写，软件测试</div>
        <div><button mat-flat-button class="knowmore-btn" >了解更多</button></div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>鲍麦克斯绣花机面板:</span>
    </div>
    <img mat-card-image class="edu-image" src="assets/pmx/1.png" alt="Photo of a machine">
    <div class="basic-content">
        <div>项目描述: 鲍麦克斯家用绣花机面板软件的开发维护，改善面板操作响应，修正遗留内存泄露及客户反馈BUG，在嵌入式平台上增加部分花样CAD功能</div>
        <div>主要负责: 软件编写，软件测试</div>
        <div><button mat-flat-button class="knowmore-btn" >了解更多</button></div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="basic-row">
    <div class="basic-header font-heavy">
        <span>鲍麦克斯MarkII</span>
    </div>
    <div class="basic-content">
        <div>项目描述: 开发鲍麦克斯MarkII系列嵌入式智能终端，采用STM32+ESP8266模块将鲍麦克斯全系列产品接入鲍麦克斯云平台，具有本地存储，空闲上传，掉电存储，实时控制等功</div>
        <div>主要负责: 软件编写，软件测试</div>
        <div><button mat-flat-button class="knowmore-btn" >了解更多</button></div>
    </div>
</div>

<mat-divider></mat-divider>